<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head}">
    <!-- css. prefix: /static -->
    <!-- <link rel="stylesheet" th:href="@{/css/signin.css}"> -->
</head>

<body>
    <div class="login-container">
        <div class="wrapper img">
            <div class="margin-box">
                <img src="" alt="이미지">
            </div>
        </div>

        <div class="wrapper login">
            <div class="margin-box">
                <div class="login-title">
                    <h1 style="font-size: 3rem;">
                        Welcome to
                        <br>
                        Shiz!
                    </h1>
                </div>

                <div class="login-contents">
                    <form action="/api/signin" method="post" id="form-signin">
                        <!--  -->
                        <div class="input-grid">
                            <label for="input-id">ID</label>
                            <input type="text" id="userId" name="userId" maxlength="20">

                            <label for="input-pw">Password</label>
                            <input type="password" id="password" name="password" maxlength="20">
                        </div>

                        <div class="signin-box">
                            <div class="remember-box">
                                <label for="autoLogin">remember me?</label>
                                <input type="checkbox" name="autoLogin" id="autoLogin">
                            </div>

                            <div class="btn-box">
                                <button type="submit" id="btn-signin">Signin</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="login-etc">
                    <div class="etc">
                        <span id="signup">회원가입</span>
                        <span id="find-id">아이디 찾기</span>
                        <span id="find-pw">비밀번호 찾기</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>