<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:include="~{fragments/head :: head}">
    <!-- css. prefix: /static -->
    <!-- <link rel="stylesheet" th:href="@{/css/signin.css}"> -->
</head>

<body>
    <div class="login-container">
        <div class="wrapper">
            <img src="" alt="asdf">
        </div>

        <div class="wrapper">
            <div class="login-box">
                <div>
                    <h1>LOGIN</h1>
                </div>
                <div>
                    asdf
                </div>
            </div>
        </div>
    </div>

</body>

</html>