@charset "UTF-8";
/* 전역 버튼 스타일. 전역 css 는 head 에 선언. */

body{
    margin: 0;
}

.btn {
    width: 100px;
    height: 30px;
    font-size: 1rem;

    border-radius: 10%;
    border-color: white;
    background-color: white;
    color: black;

}

.btn.excel {
    background-color: rgb(29, 111, 66);
    color: white;
}

.inputArea {
    padding: 2px;
    border: none;
}