@charset "UTF-8";
// 전역 버튼 스타일

.btn {
    border: none;
    background-color: whitesmoke;
    color: black;
    box-shadow: 2 2 2 gray;

    .excel {
        background-color: rgb(29, 111, 66);
        color: white;
    }
}